In [2]:
import numpy as np
import pandas as pd
from datetime import datetime, date

In [3]:
completeDF = pd.read_csv('data/ML_Complete.csv', index_col=0)
completeDF['TXNDATE'] =  pd.to_datetime(completeDF['TXNDATE'], format='%Y-%m-%d %H:%M:%S')
completeDF.head()

,TXNDATE,TXNID,SKU,KEYWORD,SELLPRICE,COST,QUANTITY,YEAR,MONTH
0,2017-04-03 13:20:05,170403171807404001,71442,HEINEKEN REG NR 2/12PK 12 OZ 12-PACK,13.99,13.63,1.0,2017,4
1,2017-04-03 13:20:05,170403171807404001,71441,HEINEKEN REG NR 2/12PK 12 OZ 24-PACK,27.99,27.25,1.0,2017,4
2,2017-04-03 13:20:44,170403172012768701,71442,HEINEKEN REG NR 2/12PK 12 OZ 12-PACK,13.99,13.63,1.0,2017,4
3,2017-04-04 04:49:42,170404094858499806,69455,LIMES,0.75,0.35,1.0,2017,4
4,2017-04-04 04:49:42,170404094858499806,71406,ICE CUBES,2.49,1.10,1.0,2017,4

In [8]:
SEN_DF = completeDF[completeDF['SKU']==70631].groupby([completeDF.TXNDATE.dt.year,completeDF.TXNDATE.dt.month,completeDF.TXNDATE.dt.day,completeDF.TXNDATE.dt.hour]).agg({'SELLPRICE':'mean', 'QUANTITY':'sum'})

In [9]:
SEN_DF

                                 SELLPRICE  QUANTITY
TXNDATE TXNDATE TXNDATE TXNDATE
2017    5       7       10           15.99       1.0
                14      11           15.99       2.0
                15      8            15.99       2.0
                16      13           15.99       2.0
                18      14           15.99       1.0
                22      6            19.79       2.0
                25      8            15.99       2.0
                26      6            15.99       2.0
                        12           15.99       1.0
                28      9            15.99       1.0
                        10           15.99       2.0
        6       2       9            15.99       2.0
                13      9            15.99       2.0
                15      13           15.99       1.0
                21      7            15.99       2.0
                        13           15.99       1.0
                23      9            15.99       2.0
                24      13           15.99       1.0
                27      12           15.99       1.0
                30      10           15.99       1.0
        7       1       14           15.99       1.0
                4       9            15.99       1.0
                6       15           15.99       2.0
                7       12           15.99       1.0
                11      12           15.99       1.0
                        13           15.99       1.0
                14      10           15.99       1.0
                15      11           15.99       1.0
                19      13           15.99       1.0
                20      9            15.99       2.0
...                                    ...       ...
2018    6       22      11           15.99       2.0
                        13           15.99       2.0
                26      14           15.99       2.0
                28      13           15.99       1.0
                29      9            15.99       2.0
                        11           15.99       2.0
                        13           15.99       1.0
                        14           15.99       1.0
        7       6       6            15.99       1.0
                12      17           15.99       1.0
                14      11           15.99       1.0
                16      10           15.99       1.0
                18      10           15.99       1.0
                19      9            15.99       2.0
                        15           15.99       1.0
                20      11           15.99       3.0
                25      7            15.99       2.0
                26      10           15.99       2.0
                27      11           15.99       1.0
                28      13           15.99       1.0
                30      10           15.99       3.0
                31      15           15.99       1.0
        8       1       10           15.99       1.0
                4       7            15.99       1.0
                5       11           15.99       1.0
                7       16           15.99       1.0
                8       8            15.99       1.0
                13      11           15.99       3.0
                14      11           15.99       1.0
                16      12           15.99       2.0

[281 rows x 2 columns]